@page
@model TestCrud.Pages.Peliculas.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pelicula.Titulo" class="control-label"></label>
                <input asp-for="Pelicula.Titulo" class="form-control" />
                <span asp-validation-for="Pelicula.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula.Descripcion" class="control-label"></label>
                <input asp-for="Pelicula.Descripcion" class="form-control" />
                <span asp-validation-for="Pelicula.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula.Disp_Alquiler" class="control-label"></label>
                <input asp-for="Pelicula.Disp_Alquiler" class="form-control" />
                <span asp-validation-for="Pelicula.Disp_Alquiler" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula.Disp_Venta" class="control-label"></label>
                <input asp-for="Pelicula.Disp_Venta" class="form-control" />
                <span asp-validation-for="Pelicula.Disp_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pelicula.Precio_Base" class="control-label"></label>
                <input asp-for="Pelicula.Precio_Base" class="form-control" />
                <span asp-validation-for="Pelicula.Precio_Base" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Género</label>
                <select name="IdGenero" class="form-control" asp-items="ViewBag.Generos">
                    <option value="" hidden selected>Selecciona un género</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
